body {
  font-family: "Montserrat", sans-serif;
  background-color: #f3f5f8;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

/* About me section */
.about-me-section {
  margin-bottom: 40px;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* My projects section */
.my-projects-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding: 0 0 0 18px;
}

.my-projects-item {
  color: #000000;
  font-weight: 700;
}

.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

.my-work-experience-company {
  color: #fb6d3a;
}

.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.my-work-experience-divider {
  color: #000000;
}

.duties-list {
  padding: 0 0 0 18px;
}

.duty-item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my education section */
.my-education-section {
  margin-top: 40px;
}

.university-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}

.specialty-name {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}

.education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}

.education-period-divider {
  color: #000000;
}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 20px 0;
}

.photo-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {  
  width: 90%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.contacts-section,
.tech-skills-section {
  margin: 50px 0 0 40px;
}

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
/* Contacts section */
/* .contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7 px;
} */
.contacts-section-link {
  color: #9dafc4;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-section-link:hover,
.contacts-section-link:focus {
  color: rgb(255, 240, 240);
}

.icon-mail,
.icon-tel {  
  fill: currentColor;
  margin-right: 10px;
}

.soft-skills-section {
  margin: 45px 0 0 40px;
}

.skills-list {
  padding: 0 0 0 17px;
}

.skills-item {
  color: #fb6d3a;
}

.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
