:root {
  --primary-text-color: #333333;
  --title-text-color: #212121;
  --accent-color: #3c9b3c; 
  --primary-bg-color: #ffffff;
  --accent-bg-color: #38190d;
}

body {
  color: var(--primary-text-color);
  background-color: #f3f5f8;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1240px;
  height: 1754px;
  background-color: var(--primary-bg-color);
  /* margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1); */
  margin: 0 auto;
}

/* Main content section */

.main-content-section {
  padding: 60px 90px;
}

.main-content-title {  
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.section {
  margin-bottom: 40px;
}

/* About me section */

.about-me-profession {  
  font-weight: bold;
  font-size: 32px;
  line-height: 1.5;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

.about-me-name {  
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: var(--title-text-color);
  margin-bottom: 25px;
}

.about-me-description {
  width: 550px;    
}

/* My projects section */

.my-projects-orderlist {
  padding-right: 18px;
  margin-bottom: 10px;
}

.my-projects-item {
  color: var(--title-text-color);  
}

.my-projects-link {  
  font-weight: bold;
  color: #000000;  

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-projects-link:hover,
.my-projects-link:focus {
  color: var(--accent-color);  
}

.my-projects-link-code {
  margin-left: 20px;  
  font-weight: bold;  
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-projects-link-code:hover,
.my-projects-link-code:focus {
  color: var(--accent-bg-color);
}

.my-projects-bracket {
  font-style: normal;
  color: #000000;
}

/* My work experience section */

.my-work-experience-company {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* color: var(--accent-color); */
  color:#000000;
  margin-bottom: 10px;
}

.my-work-experience-position {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.my-work-experience-period {  
  font-size: 12px;
  line-height: 15px;
  color: var(--title-text-color);
}

/* my education section */

.university-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  /* color: var(--accent-color); */
  color:#000000;  
  margin-bottom: 10px;
}

.specialty-name {
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
}

.education-period {
  font-size: 12px;
  line-height: 15px;
  color: var(--title-text-color);
  margin-bottom: 20px;
}

/* sidebar section */
.sidebar-section {
  background-color: var(--accent-bg-color);
  width: 350px;
  padding: 50px;
  color: var(--primary-bg-color);
}

.photo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.photo {  
  width: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
}

.section-title {  
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;  
  margin-top: 10px;
  margin-bottom: 10px;
}

.contacts-section-link { 
  display: flex;
  align-items: center;  
  /* color: #3c9b3c;   */
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-section-link:hover,
.contacts-section-link:focus {  
  color:#a8a8a8;
}

.icon {  
  width: 14px;
  height: 14px;
  fill: currentColor;
  margin-right: 8px;
}

.skills-list {
  padding-left: 17px;
}

.skills-item {
  /* color: var(--accent-color); */
  color: #fff;
}

.skills-item-text {
  color: #fff;
}

.languages-section-wrapper {
  display: flex;
}

.language-name-list {
  width: 30%;
}