:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-bg-color: #ffffff;
  --primary-font-family: 'Roboto', sans-serif;
  --accent-font-family: 'Raleway', sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.foto {
  display: block;
}

/* -----HEADER----- */

.header-logo.logo.link {
  margin-right: 93px;
}

/* .header-list {
  margin-right: 50px;
}

.header-list:last-child {
  margin-right: 0;
} */

.header-list:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.header-outnav {
  display: flex;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: var(--accent-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo,
.footer-logo {
  color: var(--accent-color);
}

.logo-accent {
  color: var(--logo-color);
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .header-list.list {
  margin-right: 50px;
}

.header-list.list:last-child {
  margin-right: 0;
} */

.header-list.list:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus {
  color: var(--accent-color);
}

.header-adress {
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--primary-text-color);
}

.header-adress:hover,
.header-adress:focus {
  color: var(--accent-color);
}

.header-adress.link {
  display: flex;
  align-items: center;
}

.icon-mail,
.icon-tel {
  fill: currentColor;
  margin-right: 10px;
}

a.current {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

/* -----HERO----- */

.hero {
  background-color: #2f303a;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 696px;
  font-family: var(--primary-font-family);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  height: 50px;
  min-width: 200px;
  padding-right: 32px;
  padding-left: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-area {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12px;
  margin-bottom: 20px;
}

.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-input {
  margin-top: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:not(:last-child) {
  margin-bottom: 10px;
}

.modal-field-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-input.comments {
  resize: none;
  padding: 12px 16px;
  min-height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-input.comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-icon {
  position: absolute;
  bottom: 22px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within {
  border: 1px solid var(--accent-color);
}

.modal-input:focus-within + .modal-field-icon {
  fill: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding-left: 52px;
}

.checkbox-label .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 8px;
  /* background-origin: border-box; */
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.check-icon {
  fill: transparent;
}

.checkbox:checked + .icon {
  border: 2px solid var(--accent-color);
  width: 16px;
  height: 15px;
  background-color: var(--accent-color);
  /* background-origin: border-box; */
}

.checkbox:checked + .icon > .check-icon {
  fill: #ffffff;
}

/* .checkbox:checked + .icon {
  transform: scale(1.2);
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url('../images/check.svg');
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
} */

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.contract {
  color: var(--accent-color);
}

.modal-button {
  margin-top: 30px;
  margin-left: 165px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus,
.close:hover {
  fill: var(--accent-color);
}

/* ----CHARACTERISTIC---- */

.characteristic {
  background-color: var(--primary-bg-color);
}

.characteristic-list {
  display: flex;
}

.characteristic-element {
  width: 270px;
  margin-right: 30px;
}

.characteristic-element:last-child {
  margin-right: 0;
}

.characteristic-point {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.characteristic-element-icon {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----WORK AND TEAM----- */

.work.section {
  padding-top: 0px;
  background-color: var(--primary-bg-color);
}

.work-title {
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list-item {
  width: 370px;
  margin-right: 30px;
}

.work-list-item:last-child {
  margin-right: 0;
}

.work-box {
  position: relative;
}

.work-list-item-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;

  color: #ffffff;
  background-color: #2f303acc;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-title {
  margin-bottom: 50px;
}

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-item {
  width: 270px;
  margin-right: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2), 0px 4px 4px 0px #00000040;
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:last-child {
  margin-right: 0;
}

.member-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member,
.team-member-work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--title-text-color);
}

.team-member-work {
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social.list {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link:hover,
.social-item-link:focus {
  background-color: var(--accent-color);
}

.social-item-link:hover .social-item-icon,
.social-item-link:focus .social-item-icon {
  fill: #ffffff;
}

/* -----CLIENT----- */

.client-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.client.list {
  display: flex;
}

.client-list-item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-logo.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.client-logo-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item:hover,
.client-list-item:focus {
  border: 1px solid var(--accent-color);
}

.client-logo:hover .client-logo-icon,
.client-logo:focus .client-logo-icon {
  fill: var(--accent-color);
}

/* -----FOOTER----- */

.footer .container {
  display: flex;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-logo-accent {
  color: #ffffff;
}

.address {
  display: flex;
  flex-direction: column;
  min-width: 231px;
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}

.mail {
  margin-bottom: 8px;
}

.mail,
.tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
  color: rgba(255, 255, 255, 1);
}

.join {
  margin-left: 70px;
  padding-top: 12px;
}

.join-title,
.follow-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-bold {
  font-weight: 700;
}

.join-list {
  display: flex;
}

.join-item {
  width: 44px;
  height: 44px;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-item-icon {
  fill: #ffffff;
}

.join-item-link:hover,
.join-item-link:focus {
  background-color: var(--accent-color);
}

.follow {
  margin-left: 93px;
  padding-top: 12px;
}

.footer-field {
}

.mail-field {
  padding-left: 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  box-shadow: 0px 4px 4px 0px #00000026;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
}

.mail-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  background-color: #2f303a;

  color: rgba(255, 255, 255, 0.6);
}

.follow-elements {
  display: flex;
  align-items: flex-end;
}

.footer-button {
  margin-left: 12px;
  padding-left: 29px;
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus,
.footer-button:hover {
  background-color: #188ce8;
}

.send-icon {
  margin-left: 10px;
}

/* -----PORTFOLIO----- */

.section-list-buttom {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* .button-element {
  margin-right: 8px;
}

.button-element:last-child {
  margin-right: 0;
} */

.button-element:not(:last-child) {
  margin-right: 8px;
}

.section-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-button:focus,
.section-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: #ffffff;
}

/* .section-list {
  display: flex;
  flex-wrap: wrap;
}

.section-list-element {
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-list-element:nth-child(3n) {
  margin-right: 0;
}

.section-list-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.section-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.section-list-element {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.section-list-item {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-list-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section-list-element-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list-element-link:hover,
.section-list-element-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-img-text {
  position: absolute;
  bottom: -100%;
  left: 0;
  transform: translateY(0);

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-list-element:hover .portfolio-img-text {
  transform: translateY(-100%);
}
